@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111827;
  }

  .dark {
    --background: #111827;
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
}
